%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %span.navbar-brand Smart AC
  %button.navbar-toggler{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#main-navbar-collapse'}
    %span.navbar-toggler-icon
  - if user_signed_in?
    #main-navbar-collapse.collapse.navbar-collapse
      %ul.navbar-nav.w-100
        %li.nav-item
          = link_to('Home', root_path, class: 'nav-link')
        %li.nav-item
          = link_to('Users', users_path, class: 'nav-link')
        = render_notifications_of(current_user, index_content: :unopened_with_attributes, limit: 10)
        %li.nav-item.dropdown
          %a#navbar-dropdown-menu-link.nav-link.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
            %span.fa-user
          .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'navbar-dropdown-menu-link'}
            = link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item')
